@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --lime: #fb0002;
  --lime-shadow: rgba(251, 0, 2, 0.4);

  --white: #ffffff;
  --dark96: #131313c7;
  --second-dark: #acacac;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

.animate-slide-top {
  animation: slide-top 0.6s ease-out both;
}

.delay-300 {
  animation-delay: 0.7s;
}
.delay-400 {
  animation-delay: 0.8s;
}
.delay-500 {
  animation-delay: 0.9s;
}
.delay-600 {
  animation-delay: 1s;
}

@keyframes slide-top {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn {
  @apply inline-flex items-center gap-3 rounded-full border-2 transition-all duration-300 z-10;
  border-color: var(--lime);
  color: var(--white);
}

.btn:hover {
  background-color: #fb0000d0;
  box-shadow: 0 4px 15px var(--lime-shadow);
  cursor: pointer;
}
